<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Write a New Post</title>
</head>
<body>
    <form action="/posts" method="POST">
        <label for="title">Title</label>
        <input id="title" name="title" type="text"/>
        <label for="author">Author</label>
        <input id="author" name="author" type="text"/>
        <label for="body">Body</label>
        <input id="body" name="body" type="text"/>
        <input type="submit"/>
    </form>
</body>
</html>